*{
    /*Elimino margine e padding di default da tutti gli elementi*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 16vh;
    background-color: #4da2ff;
    background-image: url('../img/pattern.png');
    background-size: auto 200%;  /*Rendo solo il 50% (in altezza) dell'immagine di sfondo visibile*/

    position: relative;
}

#logo{
    height: 50%;
    position: absolute;
    left: 10px;
    bottom: 10px;
}